/*** CSS content for TAHelper ***/

.flexContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* .flexContainerExpanded {
  margin: 0px;
  padding-top: 10px;
} */

.flexChildren {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 40px);
  justify-content: center;
}

.flexText {
  display: flex;
  text-align: center;
  justify-content: center;
}

.flexContainerText {
  width: 100%;
  padding: 20px 0px;
}

.flexChildrenText {
  flex-direction: row;
}
