/* CSS content for TAHelper */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

label {
  width: 100%;
  padding: 10px 10px 10px 50px;
  font-size: 25px;
}

input, textarea {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  resize: none;
}

input[type=radio] {
  width: 1%;
}

button {
  display: inline-block;
  background-color: black;
  width: auto;
  margin-top: 10px;
  margin-left: 10px;
  padding: 15px 32px;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.flexContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexChildren {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 40px);
  justify-content: center;
}

.flexText {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputText {
  font-size: 20px;
}

.ta-group {
  background-color: lightblue;
  font-size: 50px;
  margin: 10px 20px;
}

.student {
  background-color: lightgreen;
  font-size: 30px;
  padding: 5% 0px;
  margin: 10px 20px;
}
